@font-face {
  font-family: testFont;
  src: url(font.ttf);
}

div {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  background-color: cadetblue;
}

h2 {
  font-family: testFont;
  font-size: 24pt;
}